@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

html, body{
    margin: 0;
    padding: 0;
    /* font-family: 'Grenze Gotisch', cursive !important; */
    font-family: 'Overlock', cursive !important;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-image: url("../media/bg-edit.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
a:-webkit-any-link {
    color: inherit;
}

.render-font{
    font-family: 'Overlock', cursive !important;
}

.devil{
    font-family: 'Grenze Gotisch', cursive !important;
}

.devil-light{
    font-weight: lighter;
}

body::-webkit-scrollbar {
    display: none;
}

.mynavbar{
    position: relative;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #d9f4ff;
}

.logo{
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box;
    font-weight: 700;
    text-decoration: none;
    float: left;
}

nav{
    float: right;
}

.clearfix{
    clear: both;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    margin: 2px;
    list-style: none;
}

nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
    font-size: 20px;
}

.menu-toggle{
    display: none;
}

nav ul li a.active:hover{
    background-color: #000000 !important;
    color: #ffffff !important;
}

@media (max-width: 768px){
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
    }

    nav{
        display: none;
    }
    
    nav.dropdown{
        display: block;
        width: 100%;
        transition: height 2s;
    }

    nav.dropdown ul{
        display: block;
    }
}